@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  margin: 0 5rem;
}
ul {
  display: flex;
  justify-content: space-between;
}

.link {
  list-style: none;
  text-decoration: none;
  margin: 10px;
}

h1 {
  text-align: center;
}
